@media screen and (max-width: 768px) {
    .hero {
        grid-template-columns: minmax(300px, 500px);
    }
    .hero-image{
        display: none;
    }

    .dishes-grid {
        grid-template-columns: repeat(auto-fit, minmax(75px, 150px));
    }
}